**/.*
*.iml
coverage/
node_modules/
test/
spec/
webpack.*.js
.babelrc
.nycrc.json

examples/
typings/
sandbox/
bower.json
CODE_OF_CONDUCT.md
COLLABORATOR_GUIDE.md
CONTRIBUTING.md
COOKBOOK.md
ECOSYSTEM.md
Gruntfile.js
karma.conf.js
sauce_connect.log
